/* This is importing the "Poppins" font from GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reusable variables */
:root {
    --background: linear-gradient(30deg, #c493fc, #c7864a);
    --backwards-background: linear-gradient(210deg, #c493fc, #c7864a);
    --black: #2E2C2F;
    --gray: #475B63;
    --peach: peachpuff;
    --translucent: #ffffff65;
}

html {
    font-family: "Poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100svh;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: 600px) {
        flex-direction: column;
        width: 100svw;
    }
}

/* Removes scrollbar from the page so that I can add a personalized one */
body::-webkit-scrollbar {
    display: none;
}

/* personalized scrollbar that visually tracks the scroll down the page */
.scrollbar {
    height: 100svh;
    width: 10px;
    position: fixed;
    z-index: 1001;
    background-color: var(--translucent);
    right: 0;
    transform-origin: top;
    scale: 1 0;
    animation: scroll-bar linear;
    animation-timeline: scroll();
    @media (max-width: 600px) {
        display: none;
    }
}

/* A button that appears after the user scrolls past the first page */
.btnScrollToTop {
    font-weight: 600;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: 1003;
    color: rgba(255, 255, 255, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: center;
    text-align: center;
    border-radius: 50%;
    display: none;
    text-decoration: none;
    @media (max-width: 600px) {
        display: none;
    }
}

/* Navbar located on the left side of the page. This navbar stays in that location for a regular desktop user */
nav {
    opacity: 0;
    height: 100svh;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 1002;
    animation: fade-in 2s 1.5s;
    animation-fill-mode: forwards;
    margin-left: 1rem;
    @media (max-width: 600px) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        top: 0;
        height: 5%;
        width: 100dvw;
        margin: 0;
    }
}

nav ul {
    color: white;
    font-size: 200%;
    width: fit-content;
    height: 33%;
    @media (max-width: 600px) {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 100%;
    }
}

nav ul li {
    margin: 2rem 0;
    cursor: pointer;
}

nav ul li:hover {
    color: var(--gray);
}

li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li a:hover {
    color: var(--gray);
}

.navbar-line {
    width: 2px;
    height: 30%;
    background-color: white;
    border-radius: 2px;
    @media (max-width: 600px) {
        height: 1px;
        width: 20px;
    }
}

#top-line {
    opacity: 0;
    transform-origin: bottom;
    animation: navbar-line 1.3s 2s;
    animation-fill-mode: forwards;
}

#bot-line {
    opacity: 0;
    transform-origin: top;
    animation: navbar-line 1.3s 2s;
    animation-fill-mode: forwards;
}

/* Sets the height and width for the sections that hold my professional information */
main {
    height: 100%;
    width: 100%;
}

/* What could be considered the "home" page, this houses my personal introductory information. */
.welcome-container {
    height: 100%;
    width: 92%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ffffff00, #ffffff46);
    border-top-right-radius: 50svh;
    animation: slide-in .7s;
    animation-fill-mode: forwards;
    @media (max-width: 600px) {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
        animation: none;
    }
}

.title-container {
    height: 40%;
    width: 19%;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 600px) {
        margin: 0;
        width: 100%;
    }
}

.title-container p {
    @media (max-width: 600px) {
        margin-left: 2.5rem;
    }
}

.name {
    color: white;
    font-size: 500%;
    font-weight: 600;
    margin-bottom: 3rem;
    @media (max-width: 600px) {
        text-align: center;
    }
}

/* This section through line 199 is what creates the "title" tag. It is made to resemble actual lines of HTML */

.title {
    color: white;
    width: 310px;
    font-size: 150%;
    border-right: 2px solid rgb(235, 235, 235);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(23), cursor .4s step-end infinite alternate;
    @media (max-width: 600px) {
        margin-left: 2.5rem;
    }
}

.title-code {
    color: white;
}

.caret {
    color: #7c7c7c;
}

.h2-tag {
    color: rgb(91, 133, 247);
}

.class-tag {
    color: #9cdcfe;
}

.class-prop {
    color: #ffa68b;
}

/* My professional headshot */
.profile-img {
    filter: grayscale(100%);
    height: 30rem;
    border-radius: 50%;
    margin-left: 15rem;
    @media (max-width: 600px) {
        margin: 0;
        height: 20rem;
    }
}

/* This class is applied to each section title */
.container-title {
    color: white;
    font-size: 500%;
    @media (max-width: 600px) {
        font-size: 300%;
        text-align: center;
    }
}

/* An About Me Section */
.about-me-container {
    padding-left: 2rem;
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #ffffff00, #ffffff46);
    @media (max-width: 600px) {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.about-me-info-container {
    height: 70%;
    width: 60%;
    border-radius: 5rem;
    background-color: var(--translucent);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 600px) {
        width: 95%;
        font-size: 70%;
    }
}

.about-me-desc {
    width: 70%;
    height: 80%;
    border-radius: 2rem;
    background-color: white;
    color: var(--black);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width: 600px) {
        padding: 1rem;
    }
}

.about-me-desc h2 {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills-bar {
    height: 85%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fa-brands {
    color: var(--translucent);
    font-size: 400%;
}

.fa-brands:hover {
    color: #7c7c7c;
}

/* This section holds my projects */
.projects-container {
    padding-left: 2rem;
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #ffffff00, #ffffff46);
    @media (max-width: 600px) {
        padding: 0;
        width: 100%;
    }
}

.projects-display-container {
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.projects-card {
    height: 12rem;
    width: 18rem;
    border-radius: 2rem;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: white;
    background-color: #2E2C2F;
    @media (max-width: 600px) {
        width: 49%;
        margin: .1rem;
    }
}

.project-card-desc-container {
    position: absolute;
    visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: #363333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.projects-card:hover .project-card-desc-container {
    visibility: visible;
    opacity: 1;
}

.project-card-title {
    color: white;
    text-decoration-color: white;
    font-size: 1.5rem;
    margin: 0 1.5rem;
    @media (max-width: 600px) {
        margin: 0;
        text-align: center;
        font-size: 1rem;
    }
}

.project-card-title:hover {
    color: #dcbdff;
    text-decoration-color: #dcbdff;
}

.project-card-desc {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        font-size: .7rem;
    }
}

/* This signifies the first/top project on my portfolio. It is made to be larger than the following cards. */
#first-project {
    width: 48%;
    height: 35%;
    aspect-ratio: 1;
    @media (max-width: 600px) {
        width: 80%;
    }
}

.projects-cards-grid {
    height: 65%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        width: 95%;
    }
}

.project-card-img {
    width: 100%;
    @media (max-width: 600px) {
        height: 100%;
        width: auto;
    }
}

/* This is the section for my Resume */
.resume-container {
    padding-left: 2rem;
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #ffffff00, #ffffff46);
    @media (max-width: 600px) {
        padding: 0;
        width: 100%;
    }
}


.resume-container a {
    height: 70%;
}

.resume-img {
    height: 100%;
    transition: scale 0.3s ease;
    @media (max-width: 600px) {
        height: 70%;
    }
}

.resume-img:hover {
    scale: 140%;
}

/* This is the contact information section */
.contact-container {
    padding-left: 2rem;
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #ffffff00, #ffffff46);
    border-bottom-right-radius: 50svh;
    @media (max-width: 600px) {
        padding: 0;
        border-radius: 0;
        width: 100%;
    }
}

.contact-options-container {
    height: 70%;
    width: 70%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2rem;
    @media (max-width: 600px) {
        flex-direction: column;
        margin: 0;
        height: 80%;
        width: 95%;
    }
}

.contact-form {
    height: 100%;
    width: 45%;
    background: var(--translucent);
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 600px) {
        width: 100%;
        min-width: 300px;
    }
}

.contact-info {
    text-align: left;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 600px) {
        width: 100%;
        font-size: 70%;
        height: 70%;
        align-items: center;
        justify-content: center;
    }
}

.contact-info h3 {
    color: white;
    margin: 1rem;
    font-size: 150%;
    @media (max-width: 600px) {
        width: 60%;
        margin: 0.5rem;
    }
}

.contact-info h3 a {
    text-decoration-color: white;
    color: white;
}

.contact-info h3 a:hover {
    color: var(--gray);
    text-decoration-color: var(--gray);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form-inputs {
    width: 80%;
    border: none;
    min-height: 2rem;
    max-width: 80%;
    border-radius: 1rem;
    padding-left: 1rem;
    font-family: "Poppins";
    outline: none;
    @media (max-width: 600px) {
        max-width: 90%;
    }
}

.contact-form-inputs::placeholder {
    color: var(--gray);
}

form textarea {
    height: 60%;
    max-height: 60%;
    font-family: "Poppins";
}

form button {
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #d4aeff;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    cursor: pointer;
}

/* Animations used to make the user experience smooth and enjoyable */

@keyframes scroll-bar {
    to {scale: 1 1;}
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0;}
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes navbar-line {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
    }
}